// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.issueTable{
    border-collapse:collapse;
    th{
        background:#eee;
    }
    td, th{
        border:1px solid #ddd;
        padding:2px 15px;
    }
}